---
layout: default
---

<img class="header-image" src="/assets/images/shetland_banner.jpg" />
<div class="header-description">
  <p>{{ site.description }}</p>
</div>

<div class="posts">
  {% for post in site.posts %}
  <hr />
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url | prepend: site.baseurl }}">
        {{ post.title }}
      </a>
    </h1>

    <p class="post-meta"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time> &nbsp; | &nbsp; <a class="post-meta" href="{{ post.url }}index.html#disqus_thread" data-disqus-identifier="{{ post.url }}"></a></p>

    
    <p class="post-meta">{{ post.content | strip_html | truncatewords: 50 }}</p>
  </div>
  {% endfor %}
</div>

{% include pagination.html %}
