---
layout: default
---

{% assign panorama_files = site.static_files | where_exp: "file", "file.path contains 'assets/images/panoramas/'" %}
{% if panorama_files.size > 0 %}
  {% assign panorama = panorama_files | sample %}
  <img class="header-image" src="{{ panorama.path | relative_url }}" alt="Panorama">
{% else %}
  <img class="header-image" src="{{ '/assets/images/panoramas/pano-lenk.jpg' | relative_url }}" alt="Panorama">
{% endif %}

<div class="header-description">
  <p>{{ site.description }}</p>
</div>

<div class="posts">
  {% for post in paginator.posts %}
  <hr />
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url | prepend: site.baseurl }}">
        {{ post.title }}
      </a>
    </h1>

    <p class="post-meta">
      <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time>
      {% if post.tags %}
        - 
        {% for tag in post.tags %}
          #{{ tag | slugify }}{% unless forloop.last %}, {% endunless %}
        {% endfor %}
      {% endif %}
    </p>

  <p class="post-meta">{{ post.summary | default: post.content | strip_html | truncatewords: 50 }}</p>
  </div>
  {% endfor %}
</div>

{% include pagination.html %}
