---
layout: default
---

<img class="header-image" src="/assets/images/riggenberg.jpg" />  

{% if paginator.page == 1 %}
<!--<div class="twitter">
<a class="twitter-timeline" href="https://twitter.com/GrahamRPugh" data-widget-id="493477706537783298">Loading Twitter Feed...</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>-->
{% endif %}

<div class="header-description">
  <p>{{ site.description }}</p>
</div>

<div class="posts">
  {% for post in paginator.posts %}
  <hr />
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url | prepend: site.baseurl }}">
        {{ post.title }}
      </a>
    </h1>

    <p class="post-meta"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time></p>

    
    <p class="post-meta">{{ post.content | strip_html | truncatewords: 50 }}</p>
  </div>
  {% endfor %}
</div>

{% include pagination.html %}
