---
layout: default
comments: true
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

	<header class="post-header">
		<h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
		<p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time> • <a href="{{ post.url }}#disqus_thread" data-disqus-identifier="{{ post.url }}"></a></p>
	</header>

	<div class="post-content" itemprop="articleBody">
		{{ content }}
	</div>

<script src="https://giscus.app/client.js"
        data-repo="grahampugh/grahampugh.github.io"
        data-repo-id="MDEwOlJlcG9zaXRvcnk0NjYzMTE3Mg=="
        data-category="General"
        data-category-id="DIC_kwDOAseJBM4CzFg7"
        data-mapping="title"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="1"
        data-input-position="top"
        data-theme="light"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>

</article>
